
@media screen and (min-width: 968px) {
    .flex-container {
            width: 1005px;
            justify-content: center;
            margin: auto;
    }

    .header__container {
        width: 940px;
        margin: auto;

        .social__container {
            width: 65% !important;
            padding-top: 0 !important;
            padding-right: 0 !important;

        
        .hulp {
            @include background('hulp_groot.png');
        }

        &__item:first-child {
            flex-basis: 18%;
        }

        &__item:last-child {
            flex-basis: 82%;
        }

        .block {
            flex-direction: row;
            align-items: baseline;
        }

        .social__links {
            margin-top: -8px;

            a {
                font-size: 13px;
            }
        }

        #social {
            width: auto;
            margin-top: 5px;
            margin-right: 5px;
        }
    }
    }

    header {
        width: 35%;
        margin-top: 0;
    }


    .nav-container {
        margin-bottom: 0;

        &__upper {
            position: absolute;
            right: 20px;
            top: -40px;
            a {
                display: none;
            }

            .strip {
                width: 139px;
                font-size: 11px;
                position: relative;
                top: 10px;
                right: 7px;
            }

            .home-btn {
                display: none !important;
            }
        }



        .menu {
            background: url('http://static.proud2bme.nl/gfx/menubalk_03.png') no-repeat;
            height: 69px;

            .home-btn {
                display: block;
                position: relative;
                left: 54px;
                top: 18px;
            }

            li {
                a {
                    font-size: 20px;
                    position: relative;
                    top: -25px;
                    left: 85px;
                }

                &:last-child {
                    a {
                        left: 75px;
                    } 
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        width: 965px;
        margin: auto;
        margin-bottom: 40px;

    }

    aside {
        display: flex;
        width: 35%;
        flex-direction: column;
        order: 0;
    }

    .last-card2 {
        display: block !important;
        order: 5;
    }

    .post__container1 {
        width: 95%;
        height: 1055px;

        h1 {
            font-size: 24px;
        }
        

        .posts {
            margin-top: 20px;

            &__item {
                width: 97% !important;
            }

            &__scroll {
                height: 1000px;
            }
        }
    }


    .cards__container {

        flex-direction: column;
        margin-left: 0;
        margin-top: 0 !important;

        .mustread {
            background-size: contain !important;
        }

        &__item {
            width: 296px;
            margin-bottom: 10px;

        }
    }

    .cards__container2 {
        
        &__item {
            &:last-child {
                .middle {
                    height: 154px;
                }
            }
        }

        .top {
            width: 297px;
            background-position: -3px !important;
        }

        .middle {
            width: 297px !important;
            background-size: contain !important;
        }

        .bottom {
            width: 297px;
            background-position: -3px !important;

        }
    }

    .aside__top {
        display: block !important;
        margin-top: 5px;

        h1 {
            font-size: 30px;
            color: #743259;
            text-transform: uppercase;
            padding-bottom: 15px;

            span {
                font-size: 24px;
            }
        }

        p {
            width: 95%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 18px;
            color: #333;
        }
    }

    .instagram__container {
        display: none !important;
    }

    .instagram__container1 {
        display: block !important;
        width: 98% !important;
        margin-left: 10px;

        .instagram {
            box-sizing: border-box;
            overflow: hidden;
            &__container {
                display: flex !important;

                &__item {
                    img {
                        width: 190px;
                        height: 200px;
                    }
                }
            }
        }
    }

    .story__container {
        background-size: 100% 350px !important;

        &__inner {
            h3 {
                a {
                    font-size: 14px;
                }
            }
        }

        &__inner:nth-child(3) {
               display: block !important;
           }
    }

    .footer__container {
        position: relative;

        .menu__global1 {
            display: flex;
            justify-content: center;
            width: auto;
            padding-top: 40px !important;
            margin-left: 150px;
            padding-bottom: 20px;
        }

        .menu__container {
            justify-content: center;

            &:nth-child(2) {
                .menu__block:nth-child(3) {
                    margin-left: 0;
                }
            }

            .menu__block {
                padding-top: 10px;
                padding-left: 25px;

            }

            &:last-child {
                flex-direction: column;
                justify-content: baseline;
            }
        }
        

        img {
            left: 15px;
            top: -90px !important;
        }
    }

    .footer__inner {
        width: 1005px;
        position: relative;
        margin: auto;
    }
}