.ribbon {
        width: 188px;
        height: 28px;
        background: url('http://static.proud2bme.nl/gfx/pink_ribbon.png');

        a {
            color: #fff;
            font-family: arial;
            text-decoration: none;
            font-size: 11px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
}

.pink-link {
    color: #db6f83;
    font-family: 'Arial';
    font-size: 12px;
    text-decoration: underline;
}

.footer-menu {
    li {
        padding-bottom: 15px;

        a {
            color: #fff;
            font-size: 12px;
            text-transform: none;
            text-decoration: none;
         }
    }
}