@import 'helpers';
@import 'mixins';
@import 'colors';
@import 'globals';
@import 'mobile';
@import 'tablet';
@import 'desktop';

body {
    background: url('http://static2.proud2bme.nl/gfx/roze_bg.jpg');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 320px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header__container {
      display: flex;
}

header {
        display: flex;
        flex-direction: column;

            .logo {
                width: 281px;
                height: 95px;
                margin-right: 5px;
                @include background('logo.png');
                margin-bottom: 20px;
            }

            .mobile__menu {
                width: 100%;
                ul {
                    li {
                        width: 100%;
                        box-sizing: border-box;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        padding-left: 12.3%;

                        i {
                            display: block;
                            width: 28px;
                            height: 28px;
                            margin-right: 20px;
                            margin-top: -8px;
                            @include background('/mobile/menu-icons.png');
                        }

                        .hamburger {
                                background: none;
                                border: none;
                                width: 20px;
                                height: 15px;
                                @include background('hamburger.png');
                                opacity: .5;
                                margin-top: 3px;
                                margin-left: auto;
                                margin-right: 14%;
                                outline: none;
                                cursor: pointer;
                        }


                        a {
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-weight: 500;
                            color: $white;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 15px;
                        }

                        &:first-child {
                            @include background('mobile/m.png');
                        }

                        &:nth-child(2) {

                            i { 
                                background-position: -26px 2px;
                            }

                            @include background('mobile/m2.png');
                        }

                        &:nth-child(3) {

                            i { 
                                background-position: -50px -30px;
                            }

                            @include background('mobile/m3.png');
                        }

                        &:nth-child(4) {
                            i { 
                                background-position: -20px -27px;
                            }

                            @include background('mobile/m4.png');
                        }

                        &:nth-child(5) {

                            i { 
                                background-position: -23px -57px;
                            }

                            @include background('mobile/m5.png');
                        }

                        &:nth-child(6) {

                            i { 
                                background-position: -53px 3px;
                            }

                            @include background('mobile/m6.png');
                        }

                        &:nth-child(7) {

                            i { 
                                background-position: -50px 33px;
                            }

                            @include background('mobile/m7.png');
                        }
                    }
                    
                }
            }

            .scrolled {
                opacity: 0;
                transition: 3s;

            }

            .mobile__menu.fixed {

                    opacity: 1;
                    transition: 3s;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    z-index: 9999;

            }
        }

        .post__container1 {
            margin-right: 2px;
            display: none;
            margin-left: 10px;
            background-color: #fafaf7;
            border-left: 1px solid #d7cbca;
            border-top: 1px solid #d7cbca;
            border-right: 1px solid #d7cbca;
            padding: 10px;
            border-bottom: 1px solid #d7cbca;
            position: relative;

            h1 {
                font-weight: bold;
                color: #743259;
                padding-top: 5px;
                padding-bottom: 2.5px;
            }

            .line {
                height: 3px;
                position: absolute;
                width: 100%;
                left: 0;
                background: url('http://static.proud2bme.nl/gfx/stitch_purple.png') bottom repeat-x;
                margin-bottom: 20px;
            }

            .posts {

                &__scroll {
                    overflow: scroll;
                    overflow-x: hidden;

                }

                .ribbon {
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                }

                &__item {
                    display: flex;
                    background: url('http://static2.proud2bme.nl/gfx/blog_bg.jpg') no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    width: 95%;
                    height: 157px;
                    margin-bottom: 10px;
                    padding: 4px;
                    padding-left: 0;

                    &__left {   
                        
                        img {
                            width: 230px;
                            height: 100%;
                        }
                    }


                    .post {
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-bottom: 7px;
                        padding-top: 7px;
                        position: relative;

                        &__top {
                            display: flex;
                            
                            &__left {
                                width: 80%;
                            }

                            &__right {
                                width: 20%;
                                text-align: right;

                                span {
                                    font-size: 11px;
                                    color: #333333;
                                    padding-left: 3px;
                                }
                                
                                span:nth-child(2n) {
                                    position: relative;
                                    top: -2px;
                                }

                                span:nth-child(3) {
                                    font-size: 18px;
                                    color: #888888;
                                }
                            }
                        }

                        &::before {
                            content: '';
                                position: absolute;
                                height: 0;
                                border-top: 8px solid transparent;
                                border-right: 8px solid #fff;
                                border-bottom: 8px solid transparent;
                                left: -8px;
                                top: 14px;
                        }

                        a:first-child {
                            text-decoration: none; 
                        }

                        h3 {
                            font-family: georgia;
                            font-size: 18px;
                            font-style: italic;
                            font-weight: normal;
                            color: #000000;
                            line-height: 30px;
                        }

                        h4 {
                            color: grey;
                            font-size: 11px;
                        }

                        p {
                            padding-top: 10px;
                            height: 54px;
                            overflow: hidden;
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size: 13px;
                            line-height: 18px;
                            color: #333333;
                        }

                        .bottom-link {
                            position: absolute;
                            bottom: 5px;
                        }

                    }
                }
            }
        }

        aside {
            .aside__top {
                display: none;
            }
        }

        .post__container {
            display: flex;
            position: relative;
            width: 100%;
            background: $bg-color-1;
            border-bottom: 1px solid #ccc6c6;

            box-sizing: border-box;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 20px;

            &__item {
                flex-basis: 45%; 
                box-sizing: border-box;
                margin-bottom: 70px;

                &:first-child {
                    margin-right: 10%;
                }

                a {
                    text-decoration: none;
                }

                p {
                    font-family: 'georgia';
                    font-style: italic;
                    color: $post-color;
                    font-size: 13px;
                    margin-top: 15px;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                
            }

            .spacing {
                width: 100%;
                height: 40px;
            }

            .ribbon {
                position: absolute;
                bottom: 30px;
                right: 0;
            }
        }

        .social__container {
            display: flex;
            box-sizing: border-box;


            .block {
                display: flex;
            }

            .social__links {
                margin-bottom: 20px;
                a {
                    color: #424242;
                }

                a:not(:last-child) {
                    padding-right: 20px;
                }
            }

            &__item {

                .hulp { 
                    background-size: cover;
                }

                #social {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .social__inner {

                        &__name {
                            margin-bottom: 10px;
                            color: #333333;
                            line-height: 18px;

                        }

                        &__items {
                            margin-bottom: 10px;
                        }
                    }
                }

                
                .social__links {
                    display: none;
                }

                #zoekbalk {
                    order: 3;
                    width: 186px;
                    height: 27px;
                    background: url('http://static.proud2bme.nl/gfx/zoekbalkbg_03.png') left center no-repeat;
                    margin-left: 20px;
                    margin-top: -2px;
                    text-align: left;
                }

                input#zoekinput {
                    background: none;
                    height: 16px;
                    width: 140px;
                    padding: 0px;
                    color: #FCFCFC;
                    border: 0px;
                    font-size: 10px;
                    margin-top: 5px;
                    margin-left: 10px;
                }

            }
        }

        .nav-container {
            position: relative;
            width: 100%;

            .home-btn {
                display: block;
                @include background('huisje_03.png');
                width: 29px;
                height: 25px;
            }

            &__upper {
                height: 50px;
                padding-bottom: 10px;
                display: flex;
                padding-left: 15px;

                .cloud {
                    background: url('http://static2.proud2bme.nl/gfx/tekstballon.png') no-repeat;
                    margin-left: auto;
                    padding: 6px;
                    height: 58px;
                    width: 119px;
                    position: relative;
                    right: 7px;

                    p {
                        font-family: 'georgia';
                        font-style: italic;
                        font-size: 14px;
                        padding-left: 4px;
                        line-height: 1.3;
                    }
                }

                .strip {
                    background: url('http://static.proud2bme.nl/gfx/pink_ribbon.png') no-repeat;
                    height: 27px;
                    display: flex;
                    color: #fff;
                    justify-content: flex-end;
                    box-sizing: border-box;
                    padding-right: 10px;
                    align-items: center;
                }
            }

            .menu {
                background-repeat: no-repeat;

                ul {
                    li {
                        margin-top: 20px;
                        display: inline-block;
                        padding-right: 45px;

                        &:first-child {
                            padding-left: 33px;
                        }

                        &:nth-child(2) {
                            position: relative;
                            left: 10px;
                        }

                        &:last-child {
                            padding-right: 0;

                        }

                        a {
                            color: #fff;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .cards__container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
            
            &__item {
                
                a:hover {
                    color: #005580 !important;
                    text-decoration: underline !important;
                }

                h2 {
                    width: 100%;
                    margin-top: 7px;
                    font-size: 20px;
                    background: url('http://static2.proud2bme.nl/gfx/stitch_purple.png') bottom repeat-x;
                    margin-left: -10px;
                    margin-right: -5px;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    color: #743259;
                    text-transform: uppercase;
                }

                .mustread {
                    background: url('http://static.proud2bme.nl/gfx/mustreads_bg.png') no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                    box-sizing: border-box;

                    ul {
                        margin-top: 36px;
                    }

                    li {
                        margin-left: 5px;
                        padding-left: 18px;
                        line-height: 1.1;
                        list-style-type: none;
                        background: url('http://static.proud2bme.nl/gfx/pijltje.png') left center no-repeat;

                        a {
                            color: $link;
                            font-family: 'Arial';
                            font-size: 12px;
                            text-decoration: underline;
                        }
                    }
                }

                .hulp {
                    
                    .top {
                        background: url('http://static2.proud2bme.nl/gfx/left_gen_bg_03.png') no-repeat;
                        height: 20px;
                    }

                    .middle {
                        background: url('http://static.proud2bme.nl/gfx/left_gen_bg_05.png') repeat-y;

                        &__content {
                            width: 92%;
                            margin-left: 10px;
                            
                            h2 {
                                margin-top: 0;
                                margin-bottom: 0;
                            }

                            &__inner {
                                margin-top: 10px;
                                position: relative;

                                h3 {
                                    a {
                                        font-family: 'georgia';
                                        font-size: 18px;
                                        font-style: italic;
                                        color: #000;
                                        line-height: 30px;
                                        text-decoration: none;
                                    }
                                }

                                .score {
                                    padding: 10px;
                                    color: #743259;
                                    float: right;
                                    background-color: #db6f83;
                                    font-weight: normal;
                                    font-size: 22px;
                                    border-radius: 10px;
                                    margin-left: 10px;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }

                                p {
                                    font-size: 12px;
                                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                    padding-right: 50px;
                                    line-height: 18px;
                                    padding-bottom: 15px;
                                    color: #333333;
                                }

                                a:not(:first-child) {
                                    display: block;
                                    padding-bottom: 20px;
                                    color: $link;
                                    font-size: 12px;
                                }
                            }
                        }

                    }

                    .bottom {
                        background: url('http://static2.proud2bme.nl/gfx/left_gen_bg_06.png') no-repeat;
                        height: 11px;
                    }
                }
            }
        }

        .cards__container2 {
            @extend .cards__container;
            margin-top: 0;
            position: relative;

            &__item {
                
                margin-bottom: 10px;

                .agenda, .ouders {
                    
                    .top {
                        background: url('http://static2.proud2bme.nl/gfx/left_gen_bg_03.png') no-repeat;
                        background-size: cover;
                        height: 20px;

                    }

                    .middle {
                        background: url('http://static.proud2bme.nl/gfx/left_gen_bg_05.png') repeat-y;
                        background-size: cover;
                        box-sizing: border-box;
                        position: relative;
                        right: 3px;

                        &__content {
                            width: 100%;

                            p {
                                font-size: 12px;
                                line-height: 18px;
                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                padding-left: 15px;
                                padding-right: 15px;
                                margin-top: 15px;
                                color: #333;
                                padding-bottom: 20px;

                                a {
                                    color: $link;
                                }
                            }

                            h2 {
                                width: 96%;
                                box-sizing: border-box;
                                font-size: 20px;
                                background: url('http://static2.proud2bme.nl/gfx/stitch_purple.png') bottom repeat-x;
                                margin-left: 5px;
                                margin-right: -5px;
                                padding-left: 10px;
                                padding-bottom: 5px;
                                color: #743259;
                                text-transform: uppercase;
                            }

                            table {
                                margin-left: 15px;
                                margin-top: 20px;
                                color: #333333;
                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

                                td:first-child {
                                    width: 90px;
                                }

                                td {
                                    font-size: 10px;
                                    height: 20px;
                                }
                            }
                        }

                        .spacing {
                            height: 60px;
                        }

                        .ribbon {
                            position: absolute;
                            right: 0;
                            bottom: 15px;
                        }
                    }

                    .bottom {
                        background: url('http://static2.proud2bme.nl/gfx/left_gen_bg_06.png') no-repeat;
                        background-size: cover;
                        height: 11px;

                    }
                }

                .ouders {
                    .middle {
                        width: 308px;
                        right: 0;
                    }
                }
            }
        }

        .last-card {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;

            &__item {
                width: 296px;
            }
            .top {
                background: url('http://static.proud2bme.nl/gfx/left_groen_03.png') no-repeat;
                height: 30px;
            }

            .middle {
                background: url('http://static2.proud2bme.nl/gfx/left_groen_05.png') repeat-y;
                display: flex;

                img {
                    position: relative;
                    right: 15px;
                }

                a {
                    color: #743259;
                    font-size: 20px;
                    margin-right: 5px;
                    line-height: 1.4;

                    .leuk {
                        font-size: 26px;
                    }
                }
            }

            .bottom {
                background: url('http://static2.proud2bme.nl/gfx/left_groen_07.png') no-repeat;
                height: 20px;
            }
        }

        #last-card1 {
            display: none;
        }

        .last-card2 {
            @extend .last-card;
        }

        .last-card1 {
            display: block;
            @include background('card.png');
            background-repeat: no-repeat;
            width: 100%;
            height: 120px;
            background-position: center;
        }

        .instagram__container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .instagram {
                background: url('http://static2.proud2bme.nl/gfx/bottom_empty.png') center no-repeat;
                background-size: cover;
                width: 100%;
                padding-left: 20px;
                padding-right: 16px;
                padding-top: 25px;

                h1 {
                    font-size: 18px;
                    color: #743259;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                }

                .line {
                    height: 4px;
                    background: url('http://static2.proud2bme.nl/gfx/stitch_purple.png') repeat-x;
                }

                &__container {
                    display: flex;
                    margin-top: 15px;
                    margin-bottom: 15px;

                    &__item {
                        position: relative;
                        background: url('http://static.proud2bme.nl/gfx/rel_blog_bg.png') center no-repeat;

                        img {
                            // width: 100%;
                            // height: 100%;
                        }
                        
                        &:first-child {
                            // margin-right: 25px;
                        }

                        .flag {
                            content: url('http://static2.proud2bme.nl/gfx/datum_bg.png');
                            position: absolute;
                            top: -4px;
                            left: 8px;
                            width: 35px;
                            height: 45px;
                            color: $white;
                            font-family: 'georgia'
                        }
                    }
                }
            }
        }

        .right__side {
            display: flex;
            flex-direction: column;
        }

        .instagram__container1 {
            @extend .instagram__container;
            width: 100%;
            margin-top: 20px;
        }

        .tags__container {
            display: flex;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            flex-wrap: wrap;
            background: url('http://static.proud2bme.nl/gfx/bottom_lijntjes.png')  no-repeat;
            background-size: cover;

            h1 {
                    font-size: 20px;
                    color: #743259;
                    text-transform: uppercase;
                    padding-bottom: 5px;
            }

            .line {
                    height: 4px;
                    background: url('http://static2.proud2bme.nl/gfx/stitch_purple.png') repeat-x;
            }

            &__header {
                width: 100%;
                padding: 15px;
                padding-top: 35px;
            }

            &__inner {
                display: flex;
                padding-left: 15px;
                padding-bottom: 20px;

                center {
                    .tag {
                        padding: 4px;
                        padding-left: 10px;
                        padding-right: 10px;
                        background-color: #db6f83;
                        margin: 5px;
                        display: block;
                        float: left;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        font-size: 18px;

                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .story__container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background: url('http://static.proud2bme.nl/gfx/bottom_lijntjes.png')  no-repeat;
            background-size: cover;

            &__header {
                width: 100%;
                padding: 15px;
                padding-top: 25px;
                
                h1 {
                    font-size: 24px;
                    color: #743259;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                    padding-top: 15px;
                }

                .line {
                        height: 4px;
                        background: url('http://static2.proud2bme.nl/gfx/stitch_purple.png') repeat-x;
                }
            }

            &__inner {
                margin-left: 20px;
                background: url('http://static2.proud2bme.nl/gfx/verhalen_bg.png') no-repeat;
                width: 225px;
                height: 236px;
                background-size: cover;
                padding-top: 20px;
                padding-left: 10px;
                padding-bottom: 39px;
                margin-bottom: 45px;
                position: relative;
                box-sizing: border-box;

            
                    h3 {
                        width: 80%;
                        padding-bottom: 15px;
                        a {
                            font-family: 'georgia';
                            font-style: italic;
                            font-size: 14px;
                            color: #000;
                            font-weight: bold;
                            line-height: 1.4;
                            text-decoration: none;
                        }
                    }

                    p {
                        font-size: 12px;
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        line-height: 18px;
                        padding-bottom: 15px;
                        height: 50%;
                        overflow: hidden;
                        color: #333333;
                        padding-right: 10px;
                    }

                    .link {
                        position: absolute;
                        bottom: 25px;
                    }

                    a {
                        color: $link;
                        font-size: 13px;
                    }
                }
                
                    .verhaal_datum {
                            position: absolute;
                            top: -4px;
                            right: 12px;
                            width: 35px;
                            height: 45px;
                            background: url(http://static.proud2bme.nl/gfx/datum_bg.png);
                            color: #FFFFFF;
                            font-weight: bold;
                            font-family: georgia;
                            text-align: center;
                            line-height: 1.5;

                            .blog_datum_dag {
                                font-size: 16px;
                                margin-top: 1px;
                            }

                            .blog_datum_maand {
                                font-size: 9px;
                                font-weight: normal;
                                margin-top: -5px;
                            }
                    }
        }

        footer {
            width: 100%;
            position: relative;

            .pattern {
                    background: url(http://static.proud2bme.nl/gfx/footer.jpg) repeat-x top;
                    height: 20px;
                    margin-top: 30px;
            }

            .footer__container {
                background: url(http://static2.proud2bme.nl/gfx/footer2.jpg) bottom repeat-x;
                background-color: #250F1C;

                .menu__global {
                    margin-top: -50px;
                    padding-left: 20%;

                    &__item {
                        margin-top: 10px;
                        padding-bottom: 5px;
                        font-size: 18px;
                        color: $global-menu;
                        text-transform: uppercase;
                        text-decoration: none;
                        cursor: pointer;
                        transition: .3s;
                        padding-top: 15px;
                        width: 80%;
                        
                        &::before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-top: 7px solid $global-menu;
                            margin-right: 10px;
                            position: relative;
                            top: 14px;
                        }

                    }
                    
                    &__item.active {
                        border-top: 3px solid $global-menu;

                        &::before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 7px solid $white;
                            border-top: none;
                            margin-right: 10px;
                            position: relative;
                            top: -14px;
                        }

                    }

                    &__item-1 {
                        margin-top: 10px;
                        padding-top: 15px;
                        transition: .3s;

                        a {
                            font-size: 18px;
                            color: $global-menu;
                            text-transform: uppercase;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                    
                    .menu__inner {
                        width: 80%;

                        li {
                            
                            &:first-child {
                                padding-top: 20px;
                            }

                            &::before {
                                border: none;
                            }
                        }
                    }

                    .menu__inner.active {
                        border-bottom: 3px solid $global-menu;
                    }
                }
            }

            .spacing {
                width: 100%;
                height: 40px;
            }
        }


.todo {
    height: 400px;
}
