     @media only screen and (max-width: 767px) {

        .header__container {
            .social__container {
                display: none ;
            }

        }

        header {
            width: 100%;
            margin-top: 25px;

            .logo {
                align-self: center;
            }
        }

        .flex-container {
            width: 100%;
        }

        .nav-container {
            display: none;
        }


        .social__container {
            width: 100%;
            padding-top: 15px;
            padding-right: 7%;
            padding-bottom: 15px;

            .block {
                flex-direction: column;
                align-items: flex-end;
            }

            &__item {
                flex-basis: 50%;

                .hulp {
                    @include background('hulp.png');
                    margin-left: 15%;
                    width: 95px;
                    height: 95px;
                }
            }

            #zoekbalk {
                order: 3;
            }

        }
        

        .social__links {
            display: none;

            a {
                font-size: 12px;
            }
        }

        .cards__container {
            width: 100%;
            justify-content: center;

            &__item {
                width: 296px;
                height: 205px;
                margin-bottom: 10px;

                .hulp {
                    .top {
                        width: 297px;

                    }

                    .middle {
                         width: 297px;

                    }

                    .bottom {
                         width: 297px;
                    }
                }
            }
        }

        .cards__container2 {
            &__item {
                .top {
                     width: 311px;
                }

                .middle {
                      width: 311px;
                }

                .bottom {
                    width: 311px;

                }
            }
        }

        .last-card2 {
            display: none !important;
        }

        .instagram__container {
             
            .instagram {
                &__container {
                    &__item {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        
                        &:first-child {
                            margin-right: 25px;
                        }

                        &:not(:first-child):not(:nth-child(2)) {
                                display: none;
                        }
                    }
                }
            }
        }

        .story__container {
           &__inner:not(:first-child):not(:nth-child(2)){
               display: none;
           }

        }

        .footer__mobile {
            display: block;

            img {
                width: 130px;
                position: relative;
                top: -73px;
                left: 25%;
            }
        }

        .footer__tablet {
            display: none;
        }
     }
