    @media only screen and (min-width : 768px) {

        .container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .flex-container {
            width: 768px;
            justify-content: center;
            margin: auto;
        }

        .header__container {
            width: 100%;
            
            .social__container {
                order: 2;
                padding-top: 15px;
                width: 55%;
                padding-right: 5px;

                
                #social {
                    width: 255px;
                    margin-top: 10px;

                }

                .block {
                    flex-direction: column;
                    align-items: flex-end;
                }

                .social__links {
                    order: 2;
                    margin-top: 5px;
                    display: block !important; 
                    
                    a {
                        font-size: 12px;
                    }
                }

                #zoekbalk {
                    order: 2 !important;
                }
                
                &__item {
                    flex-basis: 50%;

                    .hulp {
                        @include background('hulp.png');
                        margin-left: 0;
                        width: 105px;
                        height: 105px;
                    }

                    .social {
                        
                        &__inner {
                            display: flex;
                            flex-direction: row;

                            &__name {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        header {
            order: 1;
            display: flex;
            width: 45%;
            flex-direction: column;
            margin-top: 25px;

            .logo {
                width: 281px;
                align-self: inherit;
                height: 95px;
                margin-right: 5px;
                @include background('logo.png');
                margin-bottom: 20px;
            }

            .mobile__menu {
                display: none;
            }
        }
        

        .nav-container {
            display: block !important;
            margin-bottom: 40px;
            order: 2;

            .strip {
                 width: 109px;
                 font-size: 12px;

            }

            .menu {
                 height: 63px;
                 @include background('menu_tablet.png');
                 
                .home-btn {
                    display: none;
                }

                li {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }

        main {
            display: flex;
            flex-direction: column;    
        }

        aside {
            display: flex;
            flex-direction: column;
            order: 2;
        }

        .post__container {
            order: 3;
            display: none !important;    
        }

        .post__container1 {
            order: 3;
            width: 95%;
            display: block !important;

            h1 {
                font-size: 28px;
            }

            .posts {
                margin-top: 30px;

                &__scroll {
                       height: 670px;
                }

            }
        }

        .cards__container {
            order: 4;
            width: 98%;
            justify-content: space-between;
            margin-left: 10px;

            &__item {
                width: 50%;
                height: auto;
                margin-bottom: 25px;

                .mustread {
                    background-size: 365px 203px !important;
                }

                .hulp {
                    .top {
                        background-size: cover !important;
                        width: 100%;
                    }

                    .middle {
                        background-size: contain !important;
                        width: 100%;

                        p {
                            padding-right: 70px !important;
                        }
                    }

                    .bottom {
                        background-size: cover !important;
                        width: 100%;
                    }
                }
            }
            
        }

        .cards__container2 {
            order: 5;

            &__item {
                .top {
                    width: 365px;
                }

                .middle {
                    width: 365px !important ;
                    height: 200px;
                }

                .bottom {
                    width: 365px;
                }
            }

            &__item:nth-child(2) {
                .middle {
                    right: 3px !important;
                }
            }
        }

        .last-card {
            display: none !important;
        }

        #last-card1 {
            display: block !important;
            order: 6;

        }

        .social__container.mobile {
            display: none;
        }

        .instagram__container1 {
            display: none !important;
        }
        
        .instagram__container {
            order: 7;

            &__item {
                img {
                    width: 219px;
                }

                &:first-child {
                    margin-right: 0;
                }
            }
        }

        .tags__container {
            order: 8;
        }

        .story__container {
            order: 9;

           &__inner:nth-child(3) {
               display: none !important;
           }
        }

        footer {
            order: 10;

            .footer__mobile {
                display: none;
            }

            .menu__global1 {
                width: 768px;
                margin: auto;
            }

            .footer__tablet {
                 img {
                    position: absolute;
                    width: 207px;
                    right: 15px;
                    top: -25px;
                }
            }

            .menu__container {
                display: flex;

                
                &:nth-child(2) {
                    .menu__block:nth-child(3) {
                        margin-left: 90px;
                    }
                }

                &:nth-child(3) {
                    padding-bottom: 100px;
                    .menu__block {
                        padding-top: 20px;

                        &:nth-child(2) {
                            margin-right: 92px;
                        }
                    }
                }
            }

            .menu__block {
                padding-top: 40px;
                padding-left: 40px;

                li {
                    width: 140px;
                    padding-bottom: 10px;
                }

                h1 {
                    color: $global-menu;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                    font-size: 20px;
                }
            }

        }


    }

